## Sample Weights

This notebook will cover exercise answer.

* Exercise 4.6
* Exercise 4.7

As we go along, there will be some explanations.

More importantly, this method can be applied not just within mean-reversion strategy but also other strategies as well.

Most of the functions below can be found under research/Sampling.

Contact: boyboi86@gmail.com

In [1]:
import numpy as np
import pandas as pd
import research as rs
import matplotlib.pyplot as plt

%matplotlib inline

dollar = pd.read_csv('./research/Sample_data/dollar_bars.txt', 
                 sep=',', 
                 header=0, 
                 parse_dates = True, 
                 index_col=['date_time'])

Num of CPU core:  4
Machine info:  Windows-10-10.0.18362-SP0
Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Numpy 1.17.3
Pandas 1.0.3

C:\Users\Wei_X\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
dollar = rs.bband_as_side(data = dollar, 
                          window = 50, 
                          width = 0.009)

dollar['volatility'] = rs.vol(dollar['close'], span0 = 50)

events = rs.cs_filter(dollar['close'], 
                    limit = dollar['volatility'].mean())

vb = rs.vert_barrier(data = dollar['close'], 
                 events = events, 
                 period = 'days', 
                 freq = 1)

tb = rs.tri_barrier(data = dollar['close'], 
                    events = events, 
                    trgt = dollar['volatility'] * 5, 
                    min_req = 0.002, 
                    num_threads = 3, 
                    ptSl = [0,2],
                    t1 = vb, 
                    side = dollar['side'])

mlabel = rs.meta_label(data = dollar['close'], 
                       events = tb, 
                       drop = False) # when you have a side binary, you won't have rare labels usually

Bollinger Band results:

Num of times upper limit touched: 548
Num of times lower limit touched: 674

C:\Users\Wei_X\Desktop\Python\research\Labels\triple_barrier_method.py:75: UserWarning: Data and events index shape must be same, reindex data to fit events
  warnings.warn('Data and events index shape must be same, reindex data to fit events')

[                                             t1                      sl  pt
2015-01-08 12:23:50.674 2015-01-12 14:56:49.380 2015-01-08 15:59:00.235 NaT
2015-01-08 14:38:13.115 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:42:32.124 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:47:20.893 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:54:32.974 2015-01-12 14:56:49.380                     NaT NaT
...                                         ...                     ...  ..
2015-09-09 19:48:41.756 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:53:21.700 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:57:58.827 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 22:44:56.773 2015-09-17 18:46:53.905                     NaT NaT
2015-09-10 12:36:39.559 2015-09-17 18:46:53.905                     NaT NaT

[393 rows x 3 columns]] this out

[                                             t1                      sl  pt
2015-01-08 12:23:50.674 2015-01-12 14:56:49.380 2015-01-08 15:59:00.235 NaT
2015-01-08 14:38:13.115 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:42:32.124 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:47:20.893 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:54:32.974 2015-01-12 14:56:49.380                     NaT NaT
...                                         ...                     ...  ..
2015-09-09 19:48:41.756 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:53:21.700 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:57:58.827 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 22:44:56.773 2015-09-17 18:46:53.905                     NaT NaT
2015-09-10 12:36:39.559 2015-09-17 18:46:53.905                     NaT NaT

[393 rows x 3 columns],                                              t1  sl  pt
2015-09-17 18:46:53.905 2015-09-22 08:32:53.406 NaT NaT
2015-09-17 18:48:33.362 2015-09-22 08:32:53.406 NaT NaT
2015-09-17 18:51:12.314 2015-09-22 08:32:53.406 NaT NaT
2015-09-18 10:42:15.964 2015-09-22 08:32:53.406 NaT NaT
2015-09-18 11:15:21.515 2015-09-22 08:32:53.406 NaT NaT
...                                         ...  ..  ..
2016-01-20 17:05:12.492 2016-01-21 17:10:35.564 NaT NaT
2016-01-20 17:09:40.041 2016-01-21 17:10:35.564 NaT NaT
2016-01-20 17:16:12.118 2016-01-21 17:30:08.064 NaT NaT
2016-01-20 17:22:26.639 2016-01-21 17:30:08.064 NaT NaT
2016-01-20 17:25:16.158 2016-01-21 17:30:08.064 NaT NaT

[393 rows x 3 columns]] this out

[                                             t1                      sl  pt
2015-01-08 12:23:50.674 2015-01-12 14:56:49.380 2015-01-08 15:59:00.235 NaT
2015-01-08 14:38:13.115 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:42:32.124 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:47:20.893 2015-01-12 14:56:49.380                     NaT NaT
2015-01-08 14:54:32.974 2015-01-12 14:56:49.380                     NaT NaT
...                                         ...                     ...  ..
2015-09-09 19:48:41.756 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:53:21.700 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 19:57:58.827 2015-09-17 18:46:53.905                     NaT NaT
2015-09-09 22:44:56.773 2015-09-17 18:46:53.905                     NaT NaT
2015-09-10 12:36:39.559 2015-09-17 18:46:53.905                     NaT NaT

[393 rows x 3 columns],                                              t1  sl  pt
2015-09-17 18:46:53.905 2015-09-22 08:32:53.406 NaT NaT
2015-09-17 18:48:33.362 2015-09-22 08:32:53.406 NaT NaT
2015-09-17 18:51:12.314 2015-09-22 08:32:53.406 NaT NaT
2015-09-18 10:42:15.964 2015-09-22 08:32:53.406 NaT NaT
2015-09-18 11:15:21.515 2015-09-22 08:32:53.406 NaT NaT
...                                         ...  ..  ..
2016-01-20 17:05:12.492 2016-01-21 17:10:35.564 NaT NaT
2016-01-20 17:09:40.041 2016-01-21 17:10:35.564 NaT NaT
2016-01-20 17:16:12.118 2016-01-21 17:30:08.064 NaT NaT
2016-01-20 17:22:26.639 2016-01-21 17:30:08.064 NaT NaT
2016-01-20 17:25:16.158 2016-01-21 17:30:08.064 NaT NaT

[393 rows x 3 columns],                                              t1  sl  pt
2016-01-20 17:29:50.227 2016-01-21 17:30:08.064 NaT NaT
2016-01-20 17:34:47.179 2016-01-22 07:55:50.836 NaT NaT
2016-01-20 17:43:20.462 2016-01-22 07:55:50.836 NaT NaT
2016-01-20 17:50:05.543 2016-01-22 07:55:50.836 NaT NaT
2016-01-20 20:18:15.345 2016-01-22 07:55:50.836 NaT NaT
...                                         ...  ..  ..
2016-11-09 16:58:13.840                     NaT NaT NaT
2016-11-09 17:03:36.650                     NaT NaT NaT
2016-11-09 19:41:40.425                     NaT NaT NaT
2016-11-10 08:20:36.695                     NaT NaT NaT
2016-11-10 08:41:06.102                     NaT NaT NaT

[393 rows x 3 columns]] this out

2020-05-26 21:15:33.650509 100.0% _pt_sl_t1 done after 0.12 minutes. Remaining 0.0 minutes.

In [3]:
tb

                                             t1      trgt  side
2015-01-08 12:23:50.674 2015-01-08 15:59:00.235  0.002936  -1.0
2015-01-08 14:38:13.115 2015-01-12 14:56:49.380  0.003550  -1.0
2015-01-08 14:42:32.124 2015-01-12 14:56:49.380  0.004632  -1.0
2015-01-08 14:47:20.893 2015-01-12 14:56:49.380  0.005816  -1.0
2015-01-08 14:54:32.974 2015-01-12 14:56:49.380  0.006257  -1.0
...                                         ...       ...   ...
2016-11-09 06:25:45.452 2016-11-10 08:20:36.695  0.084342   1.0
2016-11-09 06:47:55.499 2016-11-10 08:20:36.695  0.083149   1.0
2016-11-09 07:05:15.916 2016-11-10 08:20:36.695  0.081748   1.0
2016-11-09 08:13:18.700 2016-11-10 08:20:36.695  0.081405  -1.0
2016-11-09 08:21:05.644 2016-11-10 08:41:06.102  0.080937  -1.0

[1138 rows x 3 columns]

In [4]:
#this is a modified func using mp_pandas_obj, run up to 700x faster depending on data size.

idxM0 = rs.mp_idx_matrix(data = dollar['close'], events = tb)

idxM0

,0,1,2,3,4,5,6,7,8,9,...,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137
date_time,,,,,,,,,,,,,,,,,,,,,
2015-01-08 12:23:50.674,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 14:38:13.115,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 14:42:32.124,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 14:47:20.893,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 14:54:32.974,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-09 16:58:13.840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-11-09 17:03:36.650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-11-09 19:41:40.425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-11-10 08:20:36.695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-11-10 08:41:06.102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Sequential bootstrap vs Standard Bootstrap

**A short introduction to the methods**

For standard bootstrap, we will randomly choose columns given their size. As the law of large number goes, as number of sample increase beyond 30.

It will start to display normal-like distribution. So more loops equals to higher reliability.

For sequential bootstrap, we choose based on known uniquness, therefore we will likely experience higher overall uniqueness.

However when samples get large enough, there will be a gradual drop in uniqueness. 

Given updated probability, we are less likely to choose the same column twice.

As sequential bootstrap develop into normal-like distribution, it will start to "converge" to mean with samples that are more unique compared to standard bootstrap method.

Hence for sequential bootstrap to be reliable, another method call monte-carlos was introduced.

**Note**

Due to the lack of resource, the Monte-Carlos Sequential Bootstrap (MC_seq_bts) was implemented but was not used. It will take high computational power to run this algorithm.

In [5]:
def unique_check(idxM0, iter_num):
    i = 0
    total = 0
    while i < (iter_num + 1):
        phi_ = np.random.choice(idxM0.columns, size = idxM0.shape[1])
        stdU = rs.av_unique(idxM0[phi_]).mean()
        if stdU > total:
            total = stdU
        i += 1
    print ("Highest Standard Uniqueness after {0} loops: {1}".format(iter_num, total))
    phi = rs.mp_seq_bts(idxM = idxM0, sample_len = iter_num)
    seqU = rs.av_unique(idxM0[phi]).mean()
    print ("Ave Sequential Uniqueness after {0} loops: {1}".format(iter_num, seqU))

In [6]:
# As n < 30

unique_check(idxM0, 20)

Highest Standard Uniqueness after 20 loops: 0.09038045162842588
Ave Sequential Uniqueness after 20 loops: 0.9488218390804597

In [7]:
# As n > 30

unique_check(idxM0, 50)

Highest Standard Uniqueness after 50 loops: 0.08840470735702916
Ave Sequential Uniqueness after 50 loops: 0.8097207229881863

**Note**

Due to resource constraint, we used func unique_check.

However, this is not a fair comparison since phi_ randomly choose all the columns with replacement.

As such, there won't be much difference in their uniqueness for standard method, hence we will use the highest unique sample based on standard bootstrap to compare against sequential bootstrap sample's mean uniqueness.

The idea however is to let you know the difference when we use bootstrap in sklearn vs if we were to implement a sequential bootstrap for sklearn classifier to perform sampling.

For sequential bootstrap, we will randomly choose columns but we use the previous columns choosen to compare (in-the-bag). In that way, only samples that are unique will be used to train ML models.

As a result, it will not report an inflated OOB score.

**Interesting facts**

In most cases given a large data sample, choosen sample's mean uniqueness can remain 1.0 (highest uniqueness) for 3 - 10 loops.

In [8]:
# Exercise 4.6

def idx_matrix(data: pd.Series, events: pd.DataFrame):
    '''
    AFML pg 63 snippet 4.3
    Calculates the number of times events sample overlaps each other
    Some simple moification included
    
    logic is still based on initial func stated in AFML pg 63
    
    This func has been modified to fit the example given
       
    This version of idx_matrix will take up to 30 minutes when tested against (DataFrame.shape(4025, 1840))
    '''
    indM_ = pd.DataFrame(0, index = data, columns=np.arange(events.t1.shape[0]))
    for i,(t0,t1) in enumerate(events.t1.items()):
        indM_.loc[t0:t1,i] = 1.
    
    idxM = indM_[indM_.sum(axis = 1) != 0]
    return idxM

def seq_bts(idxM: pd.DataFrame, phi: list, sample_len = None):
    '''
    Modified to fit the example
    '''
    # Generate a sample via sequential bootstrap
    if sample_len is None:
        sample_len=idxM.shape[1]
    
    avgU=pd.Series(0., dtype=float)
    for i in idxM:
        indM_ = idxM[phi + [i]] # reduce indM
        avgU.loc[i] = rs.av_unique(indM_).iloc[-1] #get the last value, if it is very unique it's value will be high
    prob = avgU/ avgU.sum() # this part lets you know the uniqueness of the entire series based on it's pick, hence assign prob
    print(prob)
    phi.append(np.random.choice(idxM.columns, p=prob))
    return phi


t1 = pd.Series([2,3,5], index=[0,2,4], name = 't1')
bar = np.arange(t1.max() + 1)
event = pd.Series([2,3,5], index=[0,2,4], name = 't1').to_frame()
idxM1 = idx_matrix(data = bar, events = event)

idxM1

     0    1    2
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  1.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  0.0  1.0
5  0.0  0.0  1.0

In [9]:
#if you run this a few more times, but if your dataset is limited, it will still not achieve the goal.
phi = [1,2]
out = seq_bts(idxM = idxM1, sample_len = None, phi = phi )

print("\nCurrent samples: {0}\nNext pick would most likely be column {1}".format(out, out[-1]))

0    0.454545
1    0.272727
2    0.272727
dtype: float64

Current samples: [1, 2, 2]
Next pick would most likely be column 2

In [10]:
# Exercise 4.7

phi = [1,2,2]
out = seq_bts(idxM = idxM1, sample_len = None, phi = phi )

#As mentioned above, if the same column was picked twice even if it is unique, it is unlikely to be picked twice.
print("\nCurrent samples: {0}\nNext pick would most likely be column {1}".format(out, out[-1]))

0    0.5
1    0.3
2    0.2
dtype: float64

Current samples: [1, 2, 2, 0]
Next pick would most likely be column 0

### Conclusion

As mentioned previously, the func will keep picking what it considered as unique.

If you notice, both exercise outcome favors column 0 as the next pick.

Because it is considered unique to the current list, since it was the only one that was not picked.

As mentioned earlier, sequential boostrap will reduce the probability of a sample being repick. 

But given a large dataset, its overall uniqueness will gradually drop since getting a highly unique column is not possible, if the most unique ones already exist within the sample group.

This is to maintain it's uniqueness of all samples choosen.

**Note**

Probability of choosing maybe high, but it is still random hence it may not be reflected if the func was to be run a few more times.