In [2]:
%load_ext autoreload
%autoreload 2

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [4]:
import yfinance as yf

In [5]:
ticker = 'RELIANCE.NS'

In [6]:

ticker = yf.Ticker(ticker)
ticker.balance_sheet

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Intangible Assets,1.347620e+12,1.364890e+12,1.135470e+12,1.028430e+12
Capital Surplus,7.450800e+11,6.139500e+11,4.116400e+11,4.096900e+11
Total Liab,5.217800e+12,7.045680e+12,6.070140e+12,5.193030e+12
Total Stockholder Equity,7.001720e+12,4.491660e+12,3.871120e+12,2.935060e+12
Minority Interest,9.926000e+11,1.218100e+11,8.280000e+10,3.539000e+10
Other Current Liab,7.504800e+11,1.720440e+12,1.248750e+12,1.292350e+12
Total Assets,1.321212e+13,1.165915e+13,1.002406e+13,8.163480e+12
Common Stock,6.445000e+10,6.339000e+10,5.926000e+10,5.922000e+10
Other Current Assets,4.131000e+11,4.447000e+11,5.487200e+11,3.336300e+11
Retained Earnings,4.601490e+12,2.940490e+12,2.678300e+12,2.373250e+12
Other Liab,7.358100e+11,8.650500e+11,8.218600e+11,6.127600e+11
Good Will,1.021200e+11,1.025900e+11,1.199700e+11,5.813000e+10
Treasury Stock,1.590700e+12,8.738300e+11,7.219200e+11,9.290000e+10
Other Assets,6.860800e+11,6.203900e+11,2.790400e+11,1.639600e+11
Cash,1.739700e+11,3.092000e+11,1.108100e+11,4.255000e+10
Total Current Liabilities,2.775680e+12,4.129160e+12,3.173220e+12,3.138520e+12
Deferred Long Term Asset Charges,1.147000e+10,2.900000e+10,4.776000e+10,5.075000e+10
Short Long Term Debt,2.804700e+11,4.487700e+11,1.556300e+11,3.715900e+11
Other Stockholder Equity,1.590700e+12,8.738300e+11,7.219200e+11,9.290000e+10
Property Plant Equipment,5.222370e+12,4.950160e+12,4.522930e+12,4.822510e+12
Total Current Assets,3.730110e+12,2.582600e+12,2.320530e+12,1.837860e+12
Long Term Investments,2.123820e+12,2.038520e+12,1.646120e+12,2.525900e+11
Net Tangible Assets,5.551980e+12,3.024180e+12,2.615680e+12,1.848500e+12
Short Term Investments,1.304840e+12,6.858700e+11,3.754100e+11,3.002900e+11
Net Receivables,5.892200e+11,2.032500e+11,3.063400e+11,2.004000e+11
Long Term Debt,1.636830e+12,1.976310e+12,2.075060e+12,1.441750e+12
Inventory,8.167200e+11,7.390300e+11,6.756100e+11,6.083700e+11
Accounts Payable,1.088970e+12,9.679900e+11,1.083090e+12,1.068610e+12

In [7]:
ticker.cashflow

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Investments,-4.654200e+11,1.795300e+11,-3.824000e+10,2.333000e+10
Change To Liabilities,-4.314800e+11,3.805000e+11,1.807800e+11,5.100300e+11
Total Cashflows From Investing Activities,-1.416340e+12,-7.252000e+11,-9.512800e+11,-6.829000e+11
Net Borrowings,-8.473200e+11,3.451900e+11,8.645600e+11,1.987000e+11
Total Cash From Financing Activities,1.019020e+12,-2.541000e+10,5.590600e+11,-2.001000e+10
Issuance Of Stock,1.321500e+11,1.900000e+08,1.190000e+09,1.400000e+09
Net Income,4.912800e+11,3.935400e+11,3.958800e+11,3.607500e+11
Change In Cash,-1.352300e+11,1.983900e+11,3.745000e+10,1.266000e+10
Total Cash From Operating Activities,2.618500e+11,9.487700e+11,4.234600e+11,7.145900e+11
Depreciation,2.657200e+11,2.220300e+11,2.093400e+11,1.670600e+11
Other Cashflows From Investing Activities,8.426000e+10,-1.492000e+11,1.473000e+10,2.331000e+10
Dividends Paid,-3.921000e+10,-4.592000e+10,-3.554000e+10,-3.255000e+10
Change To Inventory,-7.769000e+10,-6.342000e+10,-6.724000e+10,-1.047400e+11
Change To Account Receivables,1.860000e+09,-1.379200e+11,-4.013600e+11,-2.199100e+11
Other Cashflows From Financing Activities,1.773400e+12,-3.248700e+11,-2.711500e+11,-1.875600e+11
Change To Netincome,1.216000e+10,1.540400e+11,1.060600e+11,1.400000e+09
Capital Expenditures,-1.058370e+12,-7.651700e+11,-9.362600e+11,-7.395300e+11

In [8]:
ticker.earnings

            Revenue      Earnings
Year
2018  4082650000000  360750000000
2019  5692090000000  395880000000
2020  5975350000000  393540000000
2021  4669240000000  491280000000

In [10]:
ticker.analysis

,Max Age,End Date,Growth,Earnings Estimate Avg,Earnings Estimate Low,Earnings Estimate High,Earnings Estimate Year Ago Eps,Earnings Estimate Number Of Analysts,Earnings Estimate Growth,Revenue Estimate Avg,...,Revenue Estimate Growth,Eps Trend Current,Eps Trend 7Days Ago,Eps Trend 30Days Ago,Eps Trend 60Days Ago,Eps Trend 90Days Ago,Eps Revisions Up Last7Days,Eps Revisions Up Last30Days,Eps Revisions Down Last30Days,Eps Revisions Down Last90Days
Period,,,,,,,,,,,,,,,,,,,,,
0Q,1,2018-12-31,NaN,0.0,0.0,0.0,13.39,0.0,NaN,1.510850e+12,...,1.062,0.0,16.23,16.23,16.23,16.23,0.0,0.0,0.0,NaN
+1Q,1,2019-03-31,NaN,0.0,0.0,0.0,13.72,0.0,NaN,1.613060e+12,...,0.919,0.0,20.62,20.62,20.62,20.62,0.0,0.0,0.0,NaN
0Y,1,2019-03-31,NaN,0.0,0.0,0.0,NaN,0.0,NaN,4.248200e+12,...,0.465,0.0,62.78,62.78,62.78,62.78,0.0,0.0,0.0,NaN
+1Y,1,2020-03-31,NaN,0.0,0.0,0.0,NaN,0.0,NaN,4.457110e+12,...,0.049,0.0,71.85,71.85,71.85,71.85,0.0,0.0,0.0,NaN
+5Y,1,NaT,0.19210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-5Y,1,NaT,0.14112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
ticker.dividends

Date
1996-05-24    0.742958
1997-05-16    0.804871
1998-05-06    0.866784
1999-05-07    0.928697
2000-04-06    0.990610
2001-04-26    1.052523
2002-10-23    1.176349
2003-05-23    1.238263
2004-05-20    1.300176
2005-05-12    1.857394
2006-06-01    2.476525
2007-03-21    2.724178
2008-05-08    3.219483
2009-10-16    3.219483
2010-05-10    3.467135
2011-05-05    3.962440
2012-05-31    4.210093
2013-05-10    4.457745
2014-05-16    4.705398
2015-05-08    4.953050
2016-03-17    5.200703
2017-07-13    5.448355
2018-06-27    5.943660
2019-08-02    6.438965
2020-07-02    6.500000
2021-06-11    7.000000
Name: Dividends, dtype: float64

In [17]:
ticker.financials

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,498190000000.0,580500000000.0,552270000000.0,494260000000.0
Minority Interest,992600000000.0,121810000000.0,82800000000.0,35390000000.0
Net Income,491280000000.0,393540000000.0,395880000000.0,360750000000.0
Selling General Administrative,148170000000.0,140750000000.0,124880000000.0,95230000000.0
Gross Profit,1722910000000.0,1880090000000.0,1720530000000.0,1242110000000.0
Ebit,535050000000.0,673160000000.0,645560000000.0,476360000000.0
Operating Income,535050000000.0,673160000000.0,645560000000.0,476360000000.0
Other Operating Expenses,773970000000.0,844150000000.0,740750000000.0,503460000000.0
Interest Expense,-179070000000.0,-198610000000.0,-152470000000.0,-72460000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,17220000000.0,137260000000.0,153900000000.0,133460000000.0
Total Revenue,4669240000000.0,5975350000000.0,5692090000000.0,4082650000000.0
Total Operating Expenses,4134190000000.0,5302190000000.0,5046530000000.0,3606290000000.0
Cost Of Revenue,2946330000000.0,4095260000000.0,3971560000000.0,2840540000000.0
Total Other Income Expense Net,-36860000000.0,-92660000000.0,-93290000000.0,17900000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,480970000000.0,443240000000.0,398370000000.0,360800000000.0
Net Income Applicable To Common Shares,491280000000.0,393540000000.0,395880000000.0,360750000000.0